@import url(global.css);

html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: var(--text-color);
    font-weight: 300;
    font-size: 40px;
    font-family: "Righteous";
  }
  #gamesList {
    outline: 2px solid var(--accent-color);
    border-radius: 2cap;
    background-color: var(--background-inner-color);
  }
  a {
    justify-items: center;
    border-radius: 2cap;
    padding: 5px 10px;
    margin-top: 25px;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--accent-color);
    font-size: 25px;
    font-family: "Righteous";
  }
  a:hover {
    background-color: var(--button-hover-green-color);
  }
  #resetSession {
    all: unset;
    cursor: pointer;
    text-align: center;
    padding: 2px 7px;
    margin: 15px;
    border-radius: 2cap;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 20px;
    font-family: "Righteous";
  }
  #resetSession:hover {
    background-color: var(--button-hover-red-color);
  }
}

.game * {
  margin: 0;
}

.game {
  margin: 20px 50px;
  padding: 15px;
  outline: 2px solid var(--container-outline-color);
  border-radius: 2cap;
  background-color: var(--background-filling-color);
  font-family: "Sans Serif";
  h3 {
    font-weight: 200;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: "Righteous";
  }
  p {
    font-weight: 100;
    font-size: 16px;
  }
}
