@import url(global.css);

div.container {
  display: flex;
  flex-direction: column;
}

select {
  all: unset;
  cursor: pointer;
  padding: 2px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: var(--background-outer-color);
  transition: border-color 0.3s ease;
}
select:hover {
  border-color: var(--accent-color);
}
select:focus {
  outline: none;
  border-color: var(--button-hover-blue-color);
}

.score {
  display: flex;
  justify-content: space-around;
  #score__teamA {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      font-weight: 200;
      font-size: 25px;
      font-family: "Righteous";
    }
    #scoreA {
      font-size: 50px;
      font-family: "Tiny5";
    }
  }
  .timer_container {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 2fr;
    place-items: center;
    h2 {
      font-size: 25px;
      font-family: "Righteous";
      font-weight: 200;
    }
    #timer {
      font-size: 50px;
      font-family: "Tiny5";
      font-weight: 200;
    }
  }
  #score__teamB {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      font-family: "Righteous";
      font-weight: 200;
    }
    #scoreB {
      font-size: 50px;
      font-family: "Tiny5";
    }
  }
  .fouls {
    font-size: 17px;
    font-weight: 100;
    font-family: "Righteous";
  }
}


#control_section {
  display: flex;
  justify-content: space-around;
  .buttons {
    all: unset;
    cursor: pointer;
    text-align: center;
    margin: 15px;
    padding: 2px 7px;
    border-radius: 2cap;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 20px;
    font-family: "Tiny5";
  }
  .buttons:hover {
    background-color: var(--button-hover-blue-color);
  }
  .points {
    display: flex;
    flex-direction: column;
    font-size: 25px;
  }
  .time_control {
    display: flex;
    flex-direction: column;
    .foul_control {
      display: flex;
      flex-direction: row;
    }
  }
}

.submit_button {
  all: unset;
  cursor: pointer;
  padding: 2px 7px;
  margin: 20px auto;
  text-align: center;
  border-radius: 2cap;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 20px;
  font-family: "Righteous";
}
.submit_button:hover {
  background-color: var(--button-hover-green-color);
}

#back_to_main {
  margin: 25px auto 15px 25px;
  padding: 5px 10px;
  border-radius: 2cap;
  text-decoration: none;
  text-align: center;
  color: var(--text-color);
  background-color: var(--accent-color);
  font-family: "Righteous";
}
#back_to_main:hover {
  background-color: var(--button-hover-red-color);
}

