@import url("https://fonts.googleapis.com/css2?family=Modak&family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Tiny5&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --text-color: #ffffffef;
  --accent-text-color: #d78c43;
  --background-color: #1a1a1a;
}

body {
  /* background-image: url(./img/bg-image.png);
      background-attachment: fixed;
      background-size: 100vw 100vh; */
  background-color: var(--background-color);
  color: var(--text-color);
}

div.container {
  max-width: 1200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.score {
  display: flex;
  justify-content: space-around;
  #scoreA {
    font-family: 'Tiny5';
  }

}

#control_section {
  display: flex;
  justify-content: space-around;
  .points {
    display: flex;
    flex-direction: column;
  }
  .time_control {
    display: flex;
    flex-direction: column;
    .foul_control {
      display: flex;
      flex-direction: row;
    }
  }
}

.submit_button {
  all: unset;
  text-align: center;
}

/* .buttons {
    all: unset;
    padding: 2px 7px;
    margin: 15px;
    font-family: "Righteous";
    font-size: 16px;
    background-color: var(--accent-text-color);
    color: var(--text-color);
    border-radius: 2cap;
    text-align: center;
    cursor: pointer;
  }
  .buttons:hover {
    background-color: #0056b3;
  } */
