@import url("https://fonts.googleapis.com/css2?family=Modak&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Tiny5&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --text-color: #ffffffef;
  --accent-text-color: #d78c43;
  --background-color: #1a1a1a;
}

body {
  /* background-image: url(./img/bg-image.png);
      background-attachment: fixed;
      background-size: 100vw 100vh; */
  background-color: var(--background-color);
  color: var(--text-color);
}

div.container {
  max-width: 1200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.score {
  display: flex;
  justify-content: space-around;
  #score__teamA {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      font-family: "Righteous";
      font-weight: 200;
    }
  }
  #scoreA {
    font-family: "Tiny5";
  }
  .timer_container {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 2fr;
    place-items: center;
    h2 {
      font-family: "Righteous";
      font-weight: 200;
    }
    #timer {
      font-family: "Tiny5";
      font-weight: 200;
    }
  }
  #score__teamB {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      font-family: "Righteous";
      font-weight: 200;
    }
  }
  #scoreB {
    font-family: "Tiny5";
  }
}

#control_section {
  display: flex;
  justify-content: space-around;
  .points {
    display: flex;
    flex-direction: column;
  }
  .time_control {
    display: flex;
    flex-direction: column;
    .foul_control {
      display: flex;
      flex-direction: row;
    }
  }
}

.submit_button {
  all: unset;
  padding: 2px 7px;
  margin: 20px auto;
  font-family: "Righteous";
  font-size: 16px;
  background-color: var(--accent-text-color);
  color: var(--text-color);
  border-radius: 2cap;
  text-align: center;
  cursor: pointer;
}
.submit_button:hover {
  background-color: #0056b3;
}

#back_to_main {
  text-decoration: none;
  text-align: center;
  color: var(--text-color);
  background-color: var(--accent-text-color);
  border-radius: 2cap;
  padding: 5px 10px;
  margin: 25px auto 15px 25px;
  font-family: "Righteous";
}

.buttons {
  all: unset;
  padding: 2px 7px;
  margin: 15px;
  font-family: "Tiny5";
  font-size: 16px;
  background-color: var(--accent-text-color);
  color: var(--text-color);
  border-radius: 2cap;
  text-align: center;
  cursor: pointer;
}
.buttons:hover {
  background-color: #0056b3;
}

/* Скидаємо стандартні стилі select */
select {
  all: unset; /* Скидає всі стандартні стилі */
  padding: 2px;
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease;

  /* Стилі для опцій */
  option {
    background-color: #fff;
    color: #333;
    padding: 10px;
  }
  /* Зміна стилю при наведенні */
  select:hover {
    border-color: var(--accent-text-color);
  }
}

