@import url('https://fonts.googleapis.com/css2?family=Modak&family=Righteous&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --text-color: #ffffffef;
  --accent-text-color: #d78c43;
  --background-color: #1a1a1a;
}

body {
  /* background-image: url(./img/bg-image.png);
    background-attachment: fixed;
    background-size: 100vw 100vh; */
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  outline: 5px solid var(--accent-text-color);
  border-radius: 2cap;
  padding: 15px;
  font-family: 'Righteous';
  margin: auto;
}

section.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  h1 {
    margin: auto;
    font-weight: 300;
    font-family: 'Righteous';
    box-sizing: border-box;
  }
}
